run = "npm run build && npm run preview"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
